<a href="https://colab.research.google.com/github/YocelinJuar/IBM-Module1-YocelinJu-rezArroyo/blob/main/IBM-Python%20Module%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MODULE 3

#Conditions in Python

In [1]:
# Condition Equal
a = 5
a == 6

False

In [2]:
# Greater than Sign
i = 6
i > 5

True

In [3]:
# Greater than Sign
i = 2
i > 5

False

In [4]:
# Inequality Sign
i = 2
i != 6

True

In [5]:
# Inequality Sign
i = 6
i != 6

False

In [6]:
# Use Equality sign to compare the strings
"ACDC" == "Michael Jackson"

False

In [7]:
# Use Inequality sign to compare the strings
"ACDC" != "Michael Jackson"

True

In [8]:
# Compare characters
'B' > 'A'

True

In [10]:
# Compare characters
'BA' > 'AB'

True

#Branching

In [11]:
# Else statement example
age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [12]:
# Elif statment example
age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [13]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [14]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

#Logical operators

In [16]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [ ]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

In [17]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

#Quiz on Conditions

In [ ]:
#Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"
Album_raiting=8.5
if Album_raiting>8:
    print("This Album is Amazing!")

In [ ]:
#Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.
album_year=1979
if album_year<1980 or album_year==1991 or album_year==1993:
   print("This album came out is year",album_year)

In [20]:
i=1000000
i!=0

True

In [24]:
x="a"
if (x!="a"):
     print("This is not a")
else:
     print("This is a.")

This is a.

# Loops

#Ranges

In [31]:
# Use the range
range(3)

range(0, 3)

For LOOPS

In [35]:
# For loop example
dates = [1982,1980,1973]
N = len(dates)
print(N)
for i in range(N):
    print(dates[i])

3
1982
1980
1973

In [36]:
# Example of for loop
for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In [37]:
# Exmaple of for loop, loop through list
for year in dates:  
    print(year)

1982
1980
1973

In [41]:
# Use for loop to change the elements in list
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5): #PARA CUANDO SOLO QUEREMOS VALORES EN UN RANGO ESPECÍFICO USAMOS RANGE
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [39]:
# Loop through the list and iterate on both index and element value
squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares): #Cuando queremosobtener TODOS los valores del TUPPLE usamos Enumarete
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

#While LOOPS

In [43]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0] #Hace referencia a la posición 0 del tuple

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

#Quiz on Loops

In [45]:
#Write a for loop the prints out all the element between -5 and 5 using the range function.
for i in range(-5,6):
 print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [48]:
#Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.
Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for i, genre in enumerate(Genres):
    print(genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [49]:
#Write a for loop that prints out the following list: squares=['red', 'yellow', 'green', 'purple', 'blue']
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

In [ ]:
#Write a while loop to display the values of the Rating of an album playlist stored in the list PlayListRatings. If the score is less than 6, exit the loop. The list PlayListRatings is given by: PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]